<nav class="navbar navbar-expand-xl navbar-spax-light-green navbar-spax fixed-top py-3" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="./assets/comunes/LogoBlancoSpax.png" alt="Logo SPAX" class="navbar-logo">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto gap-1 gap-xxl-3 fw-bold text-center mt-3 mt-xl-0">
                     <li class="nav-item"><a class="nav-link text-white" href="MapaDistribuidores.html">SPAX en México</a></li> 
                     <li class="nav-item"><a class="nav-link text-white" href="contacto.html">Contáctanos</a></li>
              </ul>
                <div class="d-flex align-items-center justify-content-center gap-2 mt-3 mt-xl-0 ms-xl-auto">
                    <button id="theme-toggle" title="Cambiar Tema">
                        <i class="fas fa-moon"></i>
                    </button>
                    <button id="lang-toggle" data-lang="es" title="Switch to English">EN</button>
                </div>
            </div>
        </div>
    </nav>
 